.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconAndheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.lockContainer{
    margin-top: 8px;
    margin-bottom: 2px;
}
.inputField{
    margin: 10px;
}
.submit{
    margin: 10px;
}
.toggleForm{
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px 0 0;
}
.googleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.googleButton{
    margin: 0px 10px 0px 10px !important;
    padding: 0px !important;

    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    background-color: #1976d2 !important;
    color: white !important;
}